:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --btn-txt-cl: #ffffff;
  --contacts-txt-cl: #757575;
  --title-txt-cl: #e5e5e5;
  --main-title-txt-cl: #e5e5e5;
  --links-txt-cl: #afb1b8;

  /* bg colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  --btn-hero-hover: #188ce8;

  /* Others */
  --indent: 30px;
  --items: 3;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

button {
  font-family: var(--main-font);
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* CARD-SET */

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  position: relative;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  transition: box-shadow var(--animation);
}

.card-set-item:focus,
.card-set-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* base style */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.work-btn-item {
  padding: 6px 22px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: var(--light-bg-cl);
  cursor: pointer;
  transition: background-color var(--animation), color var(--animation);
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-txt-cl);
  color: var(--btn-txt-cl);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
  border-radius: 4px;
}

.btn-mode-ligh {
  color: var(--main-txt-cl);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-hero-hover);
}

.work-btn-item:hover,
.work-btn-item:focus {
  background-color: var(--accent-txt-cl);
  color: var(--btn-txt-cl);
}

/* Header section */

.header {
  border: 1px solid #ececec;
  padding: 24px 0 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
  color: var(--main-txt-cl);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: var(--animation);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-mail {
  margin-right: 50px;
}

.header-link-current {
  position: relative;
  color: var(--accent-txt-cl);
}

.header-link-current::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-txt-cl);
  border-radius: 2px;
}

.header-phone:hover,
.header-phone:focus,
.header-mail:hover,
.header-mail:focus,
.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}

.header-phone,
.header-mail {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--contacts-txt-cl);
  transition: color var(--animation);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-icon:hover,
.contact-icon:focus {
}

/* logo section */

.logo-link {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}
.logo-accent {
  color: var(--accent-txt-cl);
}

/* hero section */

.hero {
  padding-bottom: 200px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  position: relative;
  max-width: 696px;
  color: var(--title-txt-cl);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}

/* team section */

.team {
  background-color: var(--light-bg-cl);
}

/* socials icons */

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--links-txt-cl);
  background-color: var(--btn-txt-cl);
  border-radius: 50%;
  transition: background-color var(--animation), color var(--animation);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}
.socials-icon {
  fill: currentColor;
  transition: fill var(--animation);
}

/* about section */

.about-descr {
  padding-top: 0;
}

.about-item {
  width: 270px;
}

.about-icon {
}

.about-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-text-overlay {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}

.about-list {
  display: flex;
  gap: 30px;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--light-bg-cl);
  border-radius: 4px;
}

.about-description {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.about h3 {
  margin-top: 30px;
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.about p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--contacts-txt-cl);
}

/* team section */

.team {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.team-list {
  display: flex;
  gap: 30px;
  --items: 4;
}

.team-item {
  background-color: var(--btn-txt-cl);
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team h2 {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.team-item-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team h3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}

.team p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-txt-cl);
  margin-bottom: 15px;
}

/* clients section */

.clients {
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-txt-cl);
}

.clients-list {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  text-align: center;
  justify-content: center;
  color: var(--links-txt-cl);
  background-color: var(--btn-txt-cl);
  border: 1px solid var(--links-txt-cl);
  border-radius: 4px;
  transition: color var(--animation), background-color var(--animation),
    border-color var(--animation);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-txt-cl);
  background-color: var(--btn-txt-cl);
  border-color: var(--accent-txt-cl);
  transition: var(--animation);
}

.client-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  margin: 16px 32px;
}

/* work section */

.work {
  padding-top: 99px;
  padding-bottom: 89px;
}

.portfolio-cards {
  position: relative;
  overflow: hidden;
}

/* .work-card {
  transition: box-shadow var(--animation);
} */

.overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--animation);
}

.work-cards .work-link:hover .overlay,
.work-cards .work-link:focus .overlay {
  transform: translateY(0);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--btn-txt-cl);
  padding: 63px 24px;
}

.work-cards-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.work-cards-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
  margin-bottom: 4px;
}

.work-cards-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--contacts-txt-cl);
}

.work-cards:hover,
.work-cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


/* footer section */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--btn-txt-cl);
  padding-bottom: 20px;
}

.footer-logo-accent {
  color: var(--accent-txt-cl);
}

.footer {
  background-color: var(--dark-bg-cl);
}

.footer-item {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--btn-txt-cl);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}

.footer-mail,
.footer-phone {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}

.footer-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-right: 70px;
}

.footer-right-list {
  display: flex;
  align-items: center;
  justify-content: normal;
  align-items: baseline;
  gap: 10px;
}

.socials-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: color var(--animation), background-color var(--animation);
}

.socials-footer-link:hover,
.socials-footer-link:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}

.footer-icon {
  fill: currentColor;
  transition: fill var(--animation);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  /*   transition: opacity 600ms ease-out, visibility 600ms ease-out; */
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 600ms ease-out, visibility 600ms ease-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  height: 581px;
  background: var(--btn-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--btn-txt-cl);
  cursor: pointer;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--accent-txt-cl);
}

.modal-btn-icon {
  fill: #000;
  transition: fill var(--animation);
}

/**
  |============================
  | FOOTER MODAL BTN
  |============================
*/
.container-footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  margin-right: 10px;
}

.footer-label {
  display: flex;
  flex-direction: column;
}
.footer-text {
  color: var(--btn-txt-cl);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-input {
  background-color: transparent;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;

  color: var(--btn-txt-cl);
}
.footer-btn {
  display: flex;
  align-items: center;

  background-color: var(--accent-txt-cl);
  color: var(--btn-txt-cl);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;

  padding-left: 29px;
  padding-right: 29px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--animation);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--accent-txt-cl);
}

.footer-btn-icon {
  fill: currentColor;
  margin-left: 10px;
}

/* MODAL FORM */

.form-modal {
  display: flex;
  flex-direction: column;

  padding: 40px 40px;
}

.field {
  display: inline-block;
  position: relative;
  margin: 0;
}

.modal-title {
  color: var(--main-txt-cl);
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.label-modal {
  color: var(--contacts-txt-cl);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.label-modal ~ .label-modal {
  margin-top: 10px;
}

.textarea-modal {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.link-modal {
  color: var(--accent-txt-cl);
}

.modal-icon {
  position: absolute;
  left: 12px;
  bottom: 50%;
  transform: translateY(50%);
  fill: var(--main-txt-cl);
  transition: fill var(--animation);
}

.input-modal:focus {
  border-color: var(--accent-txt-cl);
}

.input-modal:focus + .modal-icon {
  fill: var(--accent-txt-cl);
}

.modal-modal-btn {
  display: block;
  margin: 0 auto;

  background-color: var(--accent-txt-cl);
  color: var(--btn-txt-cl);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 55px;
  margin-top: 30px;

  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--animation);
}

.modal-modal-btn:hover,
.modal-modal-btn:focus {
  background-color: var(--btn-hero-hover);
}

.check-box {
  display: flex;
  justify-content: center;
}
.label-check {
  display: flex;
  align-items: center;
}
.check-on {
  border-radius: 2px;
  opacity: 0;
  position: absolute;
  transition: opacity var(--animation);
}

.check-text {
  user-select: none;
  font-size: 14px;
  margin-left: 7px;
}

.check-on {
  border-radius: 2px;
  opacity: 0;
  position: absolute;
  transition: opacity var(--animation);
}

.check:checked + .check-on {
  opacity: 1;
  background-color: var(--accent-txt-cl);
}

.check-off {
  opacity: 1;
}

.register-icon-check {
  fill: var(--btn-txt-cl);
}

.check:checked ~ .check-off {
  opacity: 0;
}

.check-text {
  font-size: 14px;
  margin-left: 7px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
